{% extends 'app1/basic.html' %}
{%  block title %} create blog {% endblock %}
{% block body %}
{% load static %}


<div class="container mt-5 mb-5">

    <div class="row">
        <div class="col box"  style="background-color:#dfcfee;">
<div class="box " style="position:fixed">
<h2  class="mt-5">Hello {{ bog.first_name}}</h2>
<!-- <img src="{{iar.images}}" class="card-img-top" height="200px" width="250px">-->
<!--    <div> {{ iar.names}}</div>-->
  <h5 class="mt-5">USERNAME- {{bog.username}}</h5>
            <h5 class="mt-4">EMAIL- {{bog.email}}</h5>
            <h5 class="mt-4">FIRST NAME- {{bog.first_name}}</h5>
            <h5 class="mt-4">LAST NAME- {{bog.last_name}}</h5>


        </div>
        </div>
      <div class="col" style="background-color:#c9c6cb;">
          {% if kar is 0 %}
          <div style="margin-top:20%; font-size:30px;">You have not taken any appointment till now.....</div>
          <div style="font-size:30px; margin-top:10px;">let's get started</div>
              <a href="/createblog/{{bog.username}}" class="btn btn-info mt-5 mb-5">Take an appointment</a><span></span>

          {% else %}
          <h2>Pending appointment</h2>
          {% for i in har reversed %}
          <div class="card mt-5 ml-5">
  <h2 class="card-header">

    {{i.name}}
  </h2>
       <h3 class="ml-4 mt-3"> {{i.catagory}}</h3>
       <h6 class="ml-4">{{i.timestamp}}</h6>
  <div class="card-body">

              <span><a href="/deletepost/{{i.ids}}" class="btn btn-info">Cancel appointment</a></span>
  </div>
</div>
    {% endfor %}
                  <h2 class="mt-5">Completed appointment</h2>

          {% endif %}

      </div>


    </div>


</div>
{% endblock %}
